{
  "ignorePatterns": ["build/", "node_modules/"],
  "extends": ["plugin:@next/next/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["next/babel"]
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-use-before-define": "off",
        "no-debugger": "warn"
      }
    }
  ]
}
